:root {
    --yellow: #f6af44;
    --red: #ff0101;
    --grey: #ebebeb;
    --dark-grey: #c1c1c1;
    --black: #212121;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', monospace;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}

input{
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
    border: 1px solid var(--grey);
    font-size: 12px;
}

button{
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
    border: 1px solid var(--grey);
    font-size: 12px;
}

/* HEADER section*/
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 2px -2px var(--dark-grey);
}

.logo{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: bold;
    color: var(--yellow);
}

.search{
    position: relative;
}

.search button{
    position: absolute;
    right: 20px;
}

.voice_btn{
    color: var(--dark-grey);
}

.profile_btns{
    width: 150px;
    text-align: right;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0px;
    width: 150px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 10px;
    z-index: 1;
}
.dropdown_menu li{
    height: 20px;
    padding: 5px;
}
.active_menu{
    background-color: var(--grey);
}
.logOut_btn, .logOut_btn a{
    color: var(--red);
}
.profile_link:hover{
    background-color: var(--grey);
    border-radius: 50%;
}
.dropdown:hover .dropdown_menu{
    display: block;
}

main{
    display: flex;
}


/*Sidebar*/
.sidebar{
    width: 250px;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chanels{
    padding: 5px;
}
.chanels li{
    padding-top: 10px;
}
.chanels li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.red_dot{
    color: var(--red);
    font-size: 40px;
    position: relative;
    top: 6px;
	animation: pulse 2s infinite;
}
.socials{
    border-top: 1px solid #fff;
}
.socials_wrapper{
    width: 180px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--dark-grey);
    border-radius: 5px;
    text-align: center;
}
.icons{
    margin-top: 10px;
    font-size: 20px;
}
.icons li{
    display: inline;
}
.icons li a:hover{
    color: #00a2ff;
}

/* main block */

.tabs::-webkit-scrollbar {
    display: none;
}

.center_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.tabs{
    padding: 20px 0px;
    overflow: hidden;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}
.tabs li{
    display: inline;
    font-weight: 12px;
    min-width: 10px;
    border: 1px solid var(--dark-grey);
    border-radius: 30%;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: var(--grey);
    border: none;
}
.tabs li:hover{
    background-color: var(--yellow);
    cursor: pointer;
}
.slider{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}
.slide{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;

    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }

.video_screen{
    position: relative;
}
.live{
    text-transform: uppercase;
    background-color: var(--red);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.views{
    font-size: 10px;
    color: #fff;
    background-color: #737271;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.video_info{
    min-width: 100px;
    align-self: flex-start;
}

h3{
    font-size: 15px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

h4{
    font-size: 12px;
    color: var(--grey);
}

.video_info img{
    width: 20px;
    margin: 5px;
    float: left;
}
.video_description{
    color: #737271;
    font-size: 12px;
}
.videos{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 10px;
}
.video{
    max-width: 300px;
    position: relative;
    cursor: pointer;
}

.video .video_info{
    background-color: #fff;
}
.video_screen:hover::before{
    opacity: 0.5;
}

.video_screen::before{
    font-family: "Font Awesome 5 Free";
    content: "\f007";
	position: absolute;
    padding: 25%;
	top: 0;
	left: 0;
	display: block;
	width: 50%;
	height: 50%;
	border-radius: 15px;
	background-color: var(--grey);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.footer{
    padding: 30px;
    bottom: 0;
    text-align: center;
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media all and (max-width: 1200px) {
    .logo{
        font-size: 20px;
    }
    .sidebar{
        width: 100px;
    }
    .socials_wrapper{
        display: none;
    }
    .streamer_name{
        display: none;
    }
    .tabs{
        max-width: 200px;
        margin: 0 auto;
    }
 }
 